<section class="faq">
    <div class="container">
        <h2 class="faq-title">Часто задоваемые вопросы</h2>

        <ul class="faq-list">
            <li class="faq-item">
                <button type="button" class="faq-item-question">
                    <p class="faq-item-question-text">Оплата грузоперевозок и все что с ней связано</p>

                    <img src="/public/arrow-down-blue.svg" alt="arrow" class="faq-item-question-icon" />
                </button>

                <div class="faq-item-answer">
                    <p class="faq-item-answer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, maiores.</p>
                </div>
            </li>

            <li class="faq-item">
                <button type="button" class="faq-item-question">
                    <p class="faq-item-question-text">В каких случаях водитель может отказать в выгрузке груза в указанном месте ?</p>

                    <img src="/public/arrow-down-blue.svg" alt="arrow" class="faq-item-question-icon" />
                </button>

                <div class="faq-item-answer">
                    <p class="faq-item-answer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, maiores.</p>
                </div>
            </li>

            <li class="faq-item">
                <button type="button" class="faq-item-question">
                    <p class="faq-item-question-text">Гарантируем ли мы сохранность груза ?</p>

                    <img src="/public/arrow-down-blue.svg" alt="arrow" class="faq-item-question-icon" />
                </button>

                <div class="faq-item-answer">
                    <p class="faq-item-answer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, maiores.</p>
                </div>
            </li>

            <li class="faq-item">
                <button type="button" class="faq-item-question">
                    <p class="faq-item-question-text">Прочее</p>

                    <img src="/public/arrow-down-blue.svg" alt="arrow" class="faq-item-question-icon" />
                </button>

                <div class="faq-item-answer">
                    <p class="faq-item-answer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, maiores.</p>
                </div>
            </li>
        </ul>
    </div>
</section>
