<footer class="footer">
    <div class="container">
        <a href="../index.html" class="footer-logo">
            <img src="/public/logo.svg" alt="logo" class="footer-logo-icon" />

            <p class="footer-logo-text">Almaty trans</p>
        </a>

        <div class="footer-label-container">
            <p class="footer-label">Мы находимся</p>
        </div>

        <a href="https://api.whatsapp.com/send?phone=77757444499" class="footer-text-container">
            <img src="/public/whatsapp.svg" alt="" class="footer-text-icon" />

            <p class="footer-text">+7 775 744 44 99</p>
        </a>

        <div class="footer-label-container">
            <p class="footer-label">Мы находимся</p>

            <a href="" class="footer-label-link" target="_blank">Мы на карте</a>
        </div>

        <div class="footer-text-container">
            <img src="/public/address.svg" alt="" class="footer-text-icon" />

            <p class="footer-text">050050 Алматы, СТ Заря, 20а</p>
        </div>

        <div class="footer-label-container">
            <p class="footer-label">E-mail</p>
        </div>

        <a href="mailto:almatytrans.kz@mail.ru" class="footer-text-container">
            <img src="/public/mail.svg" alt="" class="footer-text-icon" />

            <p class="footer-text">almatytrans.kz@mail.ru</p>
        </a>

        <div class="footer-label-container">
            <p class="footer-label">Приём заявок: <span>Пн - Пт, 8:00 - 22:00</span></p>
        </div>

        <div class="footer-label-container" style="margin-bottom: 16px">
            <p class="footer-label">График работы: <span>грузовиков: 24/7</span></p>
        </div>

        <div class="footer-social-container">
            <div class="footer-label-container">
                <p class="footer-label">Мы в соцсетях</p>
            </div>

            <a href="" target="_blank" class="footer-text-container">
                <img src="/public/instagram.svg" alt="" class="footer-text-icon" />

                <p class="footer-text">almaty_trans</p>
            </a>

            <a href="" target="_blank" class="footer-text-container" style="margin-bottom: 0">
                <img src="/public/vk.svg" alt="" class="footer-text-icon" />

                <p class="footer-text">almatytranskz</p>
            </a>
        </div>

        <nav class="footer-nav">
            <ul class="footer-nav-list">
                <li class="footer-nav-item">
                    <a href="" class="footer-nav-item-link">Автопарк</a>
                </li>

                <li class="footer-nav-item">
                    <a href="" class="footer-nav-item-link">Цены на грузоперевозки</a>
                </li>

                <li class="footer-nav-item">
                    <a href="" class="footer-nav-item-link">Услуги</a>
                </li>

                <li class="footer-nav-item">
                    <a href="" class="footer-nav-item-link">О компании </a>
                </li>
            </ul>

            <div class="footer-btn-container">
                <button type="button" class="footer-btn">Заказать</button>
            </div>

            <ul class="footer-nav-list footer-nav-list-secondary">
                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">грузоперевозка с грузчиками</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">грузчики на стройматериалы</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">машины для грузоперевозки</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">услуги грузоперевозки мебели</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">газель для переезда цена</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">заказать грузчика</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">цена на перевозки 5 тонн</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">стоимость грузоперевозок</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">упаковка и перевозка вещей</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">заказать газель на час</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">автоперевозки стоимость</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">переезды с офиса в офис</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">переезд на дачу</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">газель для доставки товара</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">грузчики для погрузки мебели</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">перевозка и монтаж мебели</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">заказать 5-тонник для перевозки</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">переезд квартиры одесса</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">перевозка стройматериалов</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">грузовое такси харьков цена</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">грузоперевозки холодильника</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">упаковка для переезда</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">стоимость грузчиков</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">перевозка мебели офисной</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">услуги грузчиков цена</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">машины для перевозки мебели</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">услуги перевозки офиса</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">газель с грузчиками</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">перевозка грузов газелью</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">цена на грузоперевозки газелью</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">доставка малогабаритных</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">заказать машину с гидробортом</a>
                </li>

                <li class="footer-nav-item">
                    <a class="footer-nav-item-link" href="">переезд квартиры цена</a>
                </li>
            </ul>
        </nav>

        <p class="footer-copyright">© 2007 - 2025</p>
    </div>
</footer>
