<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="../index.html" class="header-logo">
        <img
          src="/public/logo.svg"
          alt="logo"
          class="header-logo-icon"
          width="28"
          height="28"
        />

        <span>Almaty trans</span>
      </a>

      <div class="header-btn-container">
        <button type="button" class="header-btn">Заказать</button>

        <button type="button" class="header-burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>

  <div class="header-menu">
    <nav class="header-menu-container">
      <ul class="header-menu-nav-list">
        <li class="header-menu-nav-item">
          <a
            href="https://almatytrans.kz/transportnaja-kompanija.html"
            class="header-menu-nav-link"
            >О компании</a
          >
        </li>

        <li class="header-menu-nav-item">
          <a href="./index.html#park" class="header-menu-nav-link"
            >Наш автопарк</a
          >
        </li>

        <li class="header-menu-nav-item">
          <a href="./index.html#services" class="header-menu-nav-link"
            >Все услуги</a
          >
        </li>

        <li class="header-menu-nav-item">
          <a
            href="https://almatytrans.kz/ceni.html"
            class="header-menu-nav-link"
            >Тарифы</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
