<section class="info">
    <div class="container">
        <div class="info-select-btn-container">
            <button type="button" class="info-select-btn info-select-btn-active" data-info="1">Автопарк</button>

            <button type="button" class="info-select-btn" data-info="2">Услуги</button>
        </div>

        <div class="info-container" data-info="1">
            <div class="info-text-container">
                <p class="info-text">Наш автомобильный парк насчитывает более...</p>

                <button type="button" class="info-btn-text">
                    <span>Читать далее</span>

                    <img src="/public/arrow-down.svg" alt="arrow" class="info-btn-text-icon" />
                </button>

                <div class="info-hide-text-container is-none">
                    <p class="info-hide-text">
                        Наш автомобильный парк насчитывает более 70 автомобилей различной грузоподъемности от обычных грузовиков Газель с
                        грузоподъемностью 1.5 тонны до Камазов (до 20 тонн).
                    </p>

                    <p class="info-hide-text">
                        Поможем быстро и своевременно решить вопрос по транспортировке,доставки, перевозки мелких вещей и а так же
                        многотонных грузов весом до 20 тонн.
                    </p>

                    <p class="info-hide-text">
                        Нужно перевезти диван, кухонную мебель или автомобиль, а может например, целый склад? Легко! Для мини грузоперевозок
                        используются: тентовые и открытые газели, а также высокие, низкие и удлиненные фургоны объемом кузова от 10 до 16
                        м3.
                    </p>
                </div>
            </div>

            <div class="info-select-block-container">
                <p class="info-select-block-title">Выберите нужную машину</p>

                <ul class="info-select-block-list">
                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/gazel.png" alt="Газель" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">ГАЗель</p>

                            <p class="info-select-block-item-price">От 10 000 ₸</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/bortovaya.png" alt="Бортовая" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Бортовая</p>

                            <p class="info-select-block-item-price">От 12 000 ₸</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/gruzovik.png" alt="Грузовик" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Грузовик</p>

                            <p class="info-select-block-item-price">От 25 000 ₸</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/evacuator.png" alt="Эвакуатор" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Эвакуатор</p>

                            <p class="info-select-block-item-price">От 9 000 ₸</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/manipul.png" alt="Манипулятор" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Манипулятор</p>

                            <p class="info-select-block-item-price">От 25 000 ₸</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/dlinnomer.png" alt="Длинномер" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Длинномер</p>

                            <p class="info-select-block-item-price">От 50 000 ₸</p>
                        </a>
                    </li>
                </ul>
            </div>

            <a href="" class="info-search-link">
                <span>Цены на грузоперевозки</span>

                <img src="/public/search.svg" alt="Поиск" class="info-search-link-icon" />
            </a>
        </div>

        <div class="info-container is-none" data-info="2">
            <div class="info-text-container">
                <p class="info-text">Готовы переезжать?...</p>

                <button type="button" class="info-btn-text">
                    <span>Читать далее</span>

                    <img src="/public/arrow-down.svg" alt="arrow" class="info-btn-text-icon" />
                </button>

                <div class="info-hide-text-container is-none">
                    <p class="info-hide-text">
                        Готовы переезжать? Мы готовы перевозить! Возьмем на себя квартирный, офисный, дачный переезд.
                    </p>

                    <p class="info-hide-text">
                        Организуем Доставку и перевозку вашего груза, вывезем строительный мусор, эвакуируем сломанный автомобиль.
                    </p>

                    <p class="info-hide-text">Время подачи грузовой машины с грузчиками по городу– от 20 минут, если переезд срочный.</p>

                    <p class="info-hide-text">Поможем с подготовкой к транспортировке: сделаем сборку-разборку мебели и упаковку вещей.</p>

                    <p class="info-hide-text">Минимальное время, на которое можно заказать грузовик или Газель – 2 часа.</p>
                </div>
            </div>

            <div class="info-select-block-container">
                <p class="info-select-block-title">Выберите нужную услугу</p>

                <ul class="info-select-block-list info-select-block-list-usluga">
                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/pereezd.png" alt="Переезд" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Переезд</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/musor.png" alt="Вывоз мусора" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Вывоз мусора</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/parking.png" alt="Заезд в паркинг" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Заезд в паркинг</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/logistika.png" alt="В2В логистика" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">В2В логистика</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/gruzchiki.png" alt="Услуги грузчиков" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Услуги грузчиков</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/mebel.png" alt="Услуги мебельщиков" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Услуги мебельщиков</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/mejdygorod.png" alt="Междугородние грузоперевозки" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Междугородние грузоперевозки</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/oblast.png" alt="Перевозки по Области" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Перевозки по Области</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/perevozka.png" alt="Перевозка грузов" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Перевозка грузов</p>
                        </a>
                    </li>

                    <li class="info-select-block-item">
                        <a href="" class="info-select-block-item-link">
                            <img src="/public/dostavka.png" alt="Доставка грузов" class="info-select-block-item-img" />

                            <p class="info-select-block-item-name">Доставка грузов</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="info-order-container">
                <p class="info-order-title">Заказать Грузоперевозку</p>

                <a href="tel:+77757444499" class="info-order-tel">
                    <img src="/public/whatsapp.svg" alt="Ватсапп" class="info-order-tel-icon" />

                    <span>+7 (775) 744 44 99</span>
                </a>

                <a href="" class="info-order-btn">Сделать заказ</a>
            </div>
        </div>
    </div>
</section>
