<section class="interesting">
    <div class="container">
        <h2 class="interesting-title">Интересное</h2>

        <div class="swiper interesting-swiper">
            <div class="swiper-wrapper interesting-swiper-wrapper">
                <div class="swiper-slide interesting-swiper-slide">
                    <a href="" class="interesting-swiper-slide-link">
                        <img src="/public/interesting-slide-1.png" alt="" class="interesting-swiper-slide-img" />
                    </a>

                    <h3 class="interesting-swiper-slide-title">Грузоперевозки: Искусство Доставки</h3>

                    <ol class="interesting-swiper-slide-list">
                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Логистика в космосе</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Самые необычные грузы</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Легендарные маршруты</p>
                        </li>
                    </ol>
                </div>

                <div class="swiper-slide interesting-swiper-slide">
                    <a href="" class="interesting-swiper-slide-link">
                        <img src="/public/interesting-slide-1.png" alt="" class="interesting-swiper-slide-img" />
                    </a>

                    <h3 class="interesting-swiper-slide-title">Грузоперевозки: Искусство Доставки</h3>

                    <ol class="interesting-swiper-slide-list">
                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Логистика в космосе</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Самые необычные грузы</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Легендарные маршруты</p>
                        </li>
                    </ol>
                </div>

                <div class="swiper-slide interesting-swiper-slide">
                    <a href="" class="interesting-swiper-slide-link">
                        <img src="/public/interesting-slide-1.png" alt="" class="interesting-swiper-slide-img" />
                    </a>

                    <h3 class="interesting-swiper-slide-title">Грузоперевозки: Искусство Доставки</h3>

                    <ol class="interesting-swiper-slide-list">
                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Логистика в космосе</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Самые необычные грузы</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Легендарные маршруты</p>
                        </li>
                    </ol>
                </div>

                <div class="swiper-slide interesting-swiper-slide">
                    <a href="" class="interesting-swiper-slide-link">
                        <img src="/public/interesting-slide-1.png" alt="" class="interesting-swiper-slide-img" />
                    </a>

                    <h3 class="interesting-swiper-slide-title">Грузоперевозки: Искусство Доставки</h3>

                    <ol class="interesting-swiper-slide-list">
                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Логистика в космосе</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Самые необычные грузы</p>
                        </li>

                        <li class="interesting-swiper-slide-item">
                            <p class="interesting-swiper-slide-item-text">Легендарные маршруты</p>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="swiper-button-next interesting-swiper-button-next">
                <img src="/public/double-arrow-right.svg" alt="" />
            </div>

            <div class="swiper-button-prev interesting-swiper-button-prev">
                <img src="/public/double-arrow-left.svg" alt="" />
            </div>

            <div class="swiper-pagination interesting-swiper-pagination"></div>
        </div>
    </div>
</section>
