.faq {
  padding: 20px 0;
}

.faq-title {
  color: var(--main);
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 20px;
}

.faq-item {
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #d0d0d0;
  border-bottom: none;

  background: var(--background-block);

  padding: 12px 16px;
  margin-top: -6px;
}

.faq-item:first-child {
  margin-top: 0;
}

.faq-item:last-child {
  border-bottom: 1px solid #d0d0d0;
  border-radius: 8px;
}

.faq-item-question {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  gap: 16px;

  border: none;
  background-color: inherit;

  width: 100%;
}

.faq-item-question-text {
  color: var(--main);
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}

.faq-item-question-icon {
  width: 12px;
  height: 8px;

  margin-top: 4px;

  transition: transform 0.2s ease-in-out;
}

.faq-item-question-icon.rotate {
  transform: rotate(180deg);
}

.faq-item-answer {
  display: none;

  margin-top: 12px;
}

.faq-item-answer-text {
  color: var(--main);
  font-size: 14px;

  margin-bottom: 8px;
}

.faq-item-answer-text:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
